{% extends 'baza.html' %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Najciekawsze wydarzenia na kryptowalutach!</h1>
      <p class="lead">Znajdziesz tutaj sprawdzone informacje o wydarzeniach na kryptowalutach!</p>
    </div>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Zf83fuci4E8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <br><br/>

    <div class="row">
        {% for x in event_cal.body %}
        <div class="col-sm">
            <div class="card" style="width: 30rem;">
                <h5 class="card-title" style="text-align: center">{{ x.title.en }}</h5>
                <img src="{{ x.proof }}" class="card-img-top" alt="...">
                <div class="card-body">                    
                    <p class="card-text" style="text-align: center">Data: {{ x.date_event|slice:10 }}</p>
                    {% for y in x.coins %}
                        <p style="text-align: center">Kryptowaluta: {{ y.fullname }}</p>
                    {% endfor %}
                    <a href="{{ x.source }}" class="btn btn-primary">Przejdź do wydarzenia</a>
                </div>
            </div>
            <br/>
            <br/>
        </div>    
        {% endfor %}
    </div>    






{% endblock%}